.cart-container {
  width: 90%;
  max-width: 900px;
  margin: auto;
  padding: 20px 0;
}

.cart-item {
  display: flex;
  align-items: center;
  gap: 15px;
  border-bottom: 1px solid #ccc;
  padding: 12px 0;
}

.cart-img {
  border-radius: 8px;
  object-fit: cover;
}

.cart-info {
  flex: 1;
}

.qty-controls {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 8px 0;
}

.qty-controls button {
  padding: 5px 12px;
  font-size: 18px;
  cursor: pointer;
}

.qty-controls button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.delete-btn {
  border: none;
  background: transparent;
  font-size: 22px;
  cursor: pointer;
}

.delete-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.title {
  font-size: 20px;
  margin: 10px 0;
  font-weight: bold;
}

button.Clear-btn {
    background: red;
    border-radius: 10px;
    padding: 10px;
    font-size: 10px;
}