.cart-page {
  max-width: 1200px;
  margin: 40px auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
      color: black;
}

/* LEFT */
.cart-left h2 {
  font-size: 22px;
  margin-bottom: 20px;
}

.cart-left h2 span {
  font-size: 14px;
  color: #22c55e;
  margin-left: 6px;
}

.cart-header {
  display: grid;
  grid-template-columns: 2fr 1fr 0.5fr;
  font-size: 13px;
  color: #6b7280;
  margin-bottom: 12px;
}

.cart-row {
  display: grid;
  grid-template-columns: 2fr 1fr 0.5fr;
  align-items: center;
  padding: 14px 0;
  border-bottom: 1px solid #e5e7eb;
}

.cart-product {
  display: flex;
  gap: 12px;
}

.cart-product img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.cart-product h4 {
  font-size: 14px;
}

.qty-btns {
  display: flex;
  gap: 8px;
  margin-top: 6px;
}

.qty-btns button {
  width: 26px;
  height: 26px;
  border: 1px solid #22c55e;
  background: transparent;
  cursor: pointer;
}

.cart-price {
  font-weight: 600;
}

.cart-remove {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
}

/* RIGHT */
.cart-right {
  background: #f9fafb;
  padding: 24px;
  border-radius: 12px;
}

.cart-right h3 {
  margin-bottom: 20px;
}

.summary-row,
.summary-total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.green {
  color: #22c55e;
}

.summary-total {
  font-weight: 700;
  font-size: 16px;
  margin-top: 12px;
}

.place-order {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  background: #22c55e;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.continue {
  display: inline-block;
  margin-top: 20px;
  color: #22c55e;
  text-decoration: none;
}
