/* -----------------------------------
   SIDEBAR CONTAINER
------------------------------------ */
.sidebar-container {
  width: 260px;
  background: white;
  padding: 20px;
  box-shadow: 2px 0 15px rgba(0,0,0,0.06);
  height: 100vh;
}

/* -----------------------------------
   TITLE
------------------------------------ */
.sidebar-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 24px;
  color: #111827;
}

/* -----------------------------------
   NAV LINKS
------------------------------------ */
.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.sidebar-link {
  padding: 10px 12px;
  border-radius: 6px;
  font-size: 15px;
  color: #333;
  text-decoration: none;
  display: block;
  transition: background 0.2s;
}

.sidebar-link:hover {
  background: #718eca;
  color: white;
}

.sidebar-link {
  display: block;
  padding: 12px 16px;

  text-decoration: none;
  font-size: 16px;
  border-radius: 6px;
}

.sidebar-link.active {
  background: #4b70f5; /* highlight color */
  font-weight: bold;
}
