/* -----------------------------------
   SIDEBAR CONTAINER
------------------------------------ */
.sidebar-container {
     background: #fff;
    width: 260px;
    height: 97vh;
    padding: 20px;
    box-shadow: 7px 3px 15px #00000054;
    border-radius: 39px;
    margin: 10px;

}

/* -----------------------------------
   TITLE
------------------------------------ */
.sidebar-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 24px;
  color: #111827;
}

/* -----------------------------------
   NAV LINKS
------------------------------------ */
.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.sidebar-link {
  padding: 10px 12px;
  border-radius: 6px;
  font-size: 15px;
  color: #333;
  text-decoration: none;
  display: block;
  transition: background 0.2s;
}

.sidebar-link:hover {
  background: #718eca;
  color: white;
}

.sidebar-link {
  display: block;
  padding: 12px 16px;

  text-decoration: none;
  font-size: 16px;
  border-radius: 6px;
}

.sidebar-link.active {
  background: #4b70f5; /* highlight color */
  font-weight: bold;
}
