/* GLOBAL STYLE */
.home-page {
     color: #fffffffc;
    flex-direction: column;
    font-family: Inter, sans-serif;
    display: flex;
  
}

/* --------------------------- */
/* HERO SECTION                */
/* --------------------------- */
.page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1; /* pushes footer to bottom */
}


.hero {
background: #fff;
    align-items: center;
    gap: 40px;
    padding: 40px;
    display: flex;
}

.hero-content {
  width: 100%;
  text-align: center;
}

.hero-content h1 {
  font-size: 42px;
  font-weight: 800;
  margin-bottom: 10px;
}

.hero-content p {
  font-size: 17px;
  opacity: 0.8;
  margin-bottom: 20px;
}